<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sirimangalo.meditationplus"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivitySchedule"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivityScheduleEdit"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivityProfile"
            android:label="@string/profile"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivityCommit"
            android:label="@string/new_commit"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivityPrefs"
            android:label="@string/preferences"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <activity
            android:name=".ActivityHelp"
            android:label="@string/help_title"
            android:configChanges="orientation|screenSize|keyboardHidden"
            >
        </activity>
        <receiver android:name=".ReceiverAlarm" ></receiver>
        <service android:name=".ServiceMediaPlayer" />
        <service android:name=".ServiceSchedule" />
        <service android:name=".ServiceTTS" />
    </application>

</manifest>
